include ../../component-templates/dropdown-template/dropdown-template.pug
include ./_item-quantity/__dropdown-item/dropdown-item.pug

mixin dropdown(options={})

	-
		const {type, items=[], placeholder, selectedDates, firstTitle, secondTitle, secondDate,
		doubleInput=false, footerButtonActive=false, commonModificators=[]} = options
	
	case type 	
		when DROPDOWN.ITEM_QUANTITY
			+dropdown-template({modificatorName: 'item-quantity', placeholder: placeholder, items: items, footerButtonActive: footerButtonActive,
			 commonModificators: commonModificators,})
		when DROPDOWN.DATE_PICKER
			+dropdown-template({modificatorName: 'date-picker', placeholder: 'ДД.ММ.ГГГГ', thirdPartyPlugin: true,
				selectedDates: selectedDates, firstTitle: firstTitle,  secondTitle: secondTitle, doubleInput: doubleInput, commonModificators: commonModificators,})
		
				
