include ../../component-templates/dropdown-template/dropdown-template.pug
include ./__dropdown-item/dropdown-item.pug


- const DROPDOWN = {'GUESTS':0, 'COMFORT':1, 'FILTER_DATE':2, 'DATE':3 }

mixin dropdown(options={})

	-
		const {type, items=[], placeholder, inputValue='', firstInputValue, secondInputValue, firstTitle, secondTitle} = options
		const guestsItems = ['взрослые', 'дети', 'младенцы']
		const comfortItems = ['спальни', 'кровати', 'ванные комнаты']

	
	case type 	
		when DROPDOWN.GUESTS 
			+dropdown-template({modificator: 'guests', placeholder: 'Сколько гостей', items: guestsItems, footerButtonActive: true})
		when DROPDOWN.COMFORT 
			+dropdown-template({modificator: 'comfort', placeholder: 'Выберите удобства', items: comfortItems})
		when DROPDOWN.FILTER_DATE 
			+dropdown-template({modificator: 'filter-date', placeholder: 'Выберите диапазон дат', inputValue: inputValue})
		when DROPDOWN.DATE 
			+dropdown-template({modificator: 'date', firstInputValue: firstInputValue, secondInputValue: secondInputValue,
			firstTitle: firstTitle, secondTitle: secondTitle })	
	
				
