include ../../component-templates/dropdown-template/dropdown-template.pug
include ./_item-quantity/__dropdown-item/dropdown-item.pug


- const DROPDOWN = {'ITEM_QUANTITY':0, 'DATE_PICKER':1}

mixin dropdown(options={})

	-
		const {type, items=[], placeholder, inputValue='', firstInputValue, secondInputValue, firstTitle, secondTitle,
		doubleInput=false, footerButtonActive=false, commonModificators=[]} = options
		const guestsItems = {'взрослые':2, 'дети':1, 'младенцы':0}
		const comfortItems = ['спальни', 'кровати', 'ванные комнаты']

	
	case type 	
		when DROPDOWN.ITEM_QUANTITY
			+dropdown-template({modificatorName: 'item-quantity', placeholder: placeholder, items: items, footerButtonActive: footerButtonActive,
			 commonModificators: commonModificators,})
		when DROPDOWN.DATE_PICKER
			+dropdown-template({modificatorName: 'date-picker', placeholder: placeholder, inputValue: inputValue, thirdPartyPlugin: true,
				firstInputValue: firstInputValue, secondInputValue: secondInputValue,doubleInput: doubleInput, commonModificators: commonModificators,})
		
				
