extends ../../page-templates/page-template/page-template.pug

include ../../components/room-info/room-info.pug
include ../../components/room-card/room-card.pug
include ../../components/review/review.pug
include ../../components/list/list.pug
include ../../components/title/title.pug


block title 	
	title Room details
block content
	.room-details__container
		section.room-details__picture-container
			img.room-details__main-picture
			.room-details__other-picture-container
		.room-details__flexable-container
			section.room-details__info
				.room-details__main-info
					+room-card()
				.room-details__additional-info
					.room-details__room-info-container
						.room-details__room-info
							+title({type: TITLE.FOR_SECTION, title: 'Сведения о номере'})
								+room-info()
						+title({type: TITLE.FOR_SECTION, title: 'Впечатления от номера'})
								.room-details__chart-container 
									canvas.room-details__chart
									.room-details__legend 
										+list({
											type: LIST.BULLET_FOR_CHART, 
											items:['Великолепно', 'Хорошо', 'Удовлетворительно', 'Разочарован']})
					+title({type: TITLE.FOR_SECTION, title: 'Отзывы посетителей номера', description: '2 отзыва'})
						+review()
					.room-details__room-rules-container
						.room-details__room-rules
							+title({type: TITLE.FOR_SECTION, title: 'Правила'})
								+list({
									type: LIST.BULLET, 
									items:[
										'Нельзя с питомцами', 
										'Без вечеринок и мероприятий', 
										'Время прибытия — после 13:00, а выезд до 12:00'
										]})
						+title({type: TITLE.FOR_SECTION, title: 'Отмена'})
							.room-details__cancel-rules


			
					

