.room-details {
	&__container {
		display: flex;
		width: 100%;
    align-items: center;
		flex-direction: column;
	}
	&__picture-container {
		width: 100%;
		aspect-ratio: calc(1440/485);
		display: flex;
	}
	&__title {
		margin-bottom: 2rem;
	}
	&__main-picture-container {
		display: flex;
		width: 100%;
	}
	&__other-picture-container {
		width: calc(461/1440*100%);
		display: flex;
		flex-direction: column;
	}
	&__additional-picture {
		aspect-ratio: calc(461/243);
	}
	&__flexable-container {
    display: flex;
    width: 100%;
    justify-content: center;
	}
	&__info{
		display: flex;
		flex: 0 1 116rem;
		padding: 7rem 5rem;
		flex-direction: row-reverse;
		justify-content: space-between;
		
	}
	&__additional-info {
		max-width: 71.2rem;
		display: flex;
		flex-direction: column;
		gap: 3.1rem;
	}
	&__room-info-container {
		display: flex;
	}
	&__room-info {
		max-width: 36rem;
		display: flex;
		flex-grow: 1;
	}

	&__chart-container {
		width: 12.5rem;
		height: 12.5rem;
		display: flex;
		align-items: flex-end;

	}
	&__chart {
		width: 12.5rem;
		height: 12.5rem;
	}
	&__legend {

	
	}
	&__review-container {
		display: flex;
		flex-direction: column;
		gap: 2.5rem
	}
	&__room-rules-container {	
		display: flex;
	}
	&__title-container {
		padding-left: 1.9rem;
	}
	&__room-rules {
		max-width: 36rem;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	&__cancel-rules {
		max-width: 34.1rem;
	}
}
