.footer__container_mobile{
	width: 48.8rem;
	height: 12.7rem;
	padding: 12rem 14rem;
	justify-content: center;
	align-items: center;
	.footer__company_mobile{
		margin-bottom: 1.6rem;
	}
	.footer__copyright_modile{
		margin-bottom: 2rem;
	}
}