extends ../../page-templates/page-template/page-template.pug

include ../../components/header/header.pug
include ../../components/choose/choose.pug
include ../../components/footer/footer.pug

block title 	
	title Landing page
block main
		main.landing-page__main 
			.landing-page__flexable-container
				.landing-page__choose 
					+choose()
				.landing-page__additional='Лучшие номера для вашей работы, отдыха и просто вдохновения'
