html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
}

.landing-page {
  &__container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
		position: relative;
    background: center bottom no-repeat url('./landing-page.jpg');
		background-size: cover;
  }
  &__flexable-container {
    display: flex;
    flex: 0 1 116rem;
    padding: 0rem 5rem;
  }
  &__additional {
    max-width: 29.7rem;
		position: absolute;
    text-align: right;
		right: 13.4rem;
		bottom: 2rem;
  }
  @media screen and (max-width: 1260px) {
		&__additional {
			right: 4.4rem;
		}
  }
  &__choose {
    padding-top: 7rem;
  }
}
