mixin button_default_pay(content= 'перейти к оплате')
	.button_default__container.button_default_pay__container
		H3.button_default__text.button_default_pay__text= content
		.button_default_pay__arrow