//- mixin dropdown_date(options) 
//- 	.dropdown__container.dropdown__container_date
//- 		.dropdown__container-title.dropdown__container-title_guests
//- 			input.dropdown__title.dropdown__title_date(type='text', placeholder=options.title, id='date')
//- 			.dropdown__expand-icon
//- 		.dropdown__container-calendar
mixin dropdown_date(options) 
	input.dropdown__title_date(type='text', placeholder=options.title, id='date')
