.dropdown__container_date {
	width: 15rem;
}

.air-datepicker.-inline- {
	width: 31.8rem;
	height: 36.7rem;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.air-datepicker-nav {
	height: 5.4rem;
	align-items: center;
	margin-left: 1.6rem;
	margin-right: 1.6rem;
}
.air-datepicker--content {
	margin-top: 0.8rem;
	margin-left: 1.6rem;
	margin-right: 1.6rem;

	.air-datepicker-body--cells.-days- {
		margin-top: 1.5rem;
		display: grid;
		// &.-days- {
		// 	grid-template-columns: repeat(7, 4rem);
		// 	grid-auto-rows: 4rem;
		// }

		// &.-months- {
		// 	grid-template-columns: repeat(3, 1fr);
		// 	grid-auto-rows: var(--adp-month-cell-height);
		// }

		// &.-years- {
		// 	grid-template-columns: repeat(4, 1fr);
		// 	grid-auto-rows: var(--adp-year-cell-height);
		// }
	}
}
.air-datepicker-nav--action[data-action="prev"] {
	width: 2.4rem;
	height: 2.4rem;
	background: center no-repeat url("./arrow_back.svg");
}
.air-datepicker-nav--action[data-action="next"] {
	width: 2.4rem;
	height: 2.4rem;
	background: center no-repeat url("./arrow_forward.svg");
}
.air-datepicker-nav--title {
	font-family: "Montserrat";
	font-size: 1.9rem;
	font-weight: bold;
	color: rgba(31, 32, 65, 1);
}
.air-datepicker-body--day-names {
	.air-datepicker-body--day-name {
		font-family: "Montserrat";
		font-size: 1.2rem;
		font-weight: bold;
		color: rgba(188, 156, 255, 1);
		text-transform: none;
	}
}
.air-datepicker-cell {
	width: 4rem;
	height: 4rem;
}
.air-datepicker-cell.-day-.-other-month- {
	color: rgba(31, 32, 65, 0.25);
}
.air-datepicker-cell.-day- {
	color: rgba(31, 32, 65, 0.5);
}
.air-datepicker-cell.-day-.-current- {
	color: rgba(31, 32, 65, 0.5);
	border-radius: 50%;
	background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}
.air-datepicker-cell.-day-.-focus-.-selected- {
	border-radius: 50%;
	background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}
.air-datepicker-cell.-day-.-selected- {
	border-radius: 50%;
	background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}
.air-datepicker-cell.-day-.-in-range- {
	background: rgba(188, 156, 255, 0.5);
	border-radius: 0;
}
.air-datepicker--buttons {
	.air-datepicker-button {
		font-family: "Montserrat";
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.2rem;
		letter-spacing: 0.012rem;
		color: #bc9cff;
	}
}
.air-datepicker-body.-days- {
	.air-datepicker-body--cells {
		display: grid;
		&.-days- {
			margin-top: 1.1rem;
			grid-template-columns: repeat(7, 4rem);
			grid-auto-rows: 4rem;
		}

		&.-months- {
			grid-template-columns: repeat(3, 1fr);
			grid-auto-rows: var(--adp-month-cell-height);
		}

		&.-years- {
			grid-template-columns: repeat(4, 1fr);
			grid-auto-rows: var(--adp-year-cell-height);
		}
	}
}
