mixin button_radio (label='Мужчина')
	.button__container.button__container_radio
		label
			input.button__input.button__input_radio(type='radio', name='gender')
			.button__label.button__label_radio=label