include ../../components/dropdown/dropdown.pug
include ../../components/title/title.pug
include ../../components/button/button.pug
mixin choose() 
	.choose__container
		h1.choose__title= 'Найдём номера под ваши пожелания'
		+dropdown({
				type: DROPDOWN.DATE_PICKER,
				doubleInput: true,
				firstTitle: 'прибытие',
				secondTitle: 'выезд',
			})
		.choose__dropdown-guests
				+title({title: 'Гости'})
					+dropdown({
						type: DROPDOWN.ITEM_QUANTITY, 
						items: {'взрослые':0, 'дети':0, 'младенцы':0}, 
						footerButtonActive: true, 
						placeholder: 'Сколько гостей',
					})
		+button({type: BUTTON.PAY, label: 'подобрать номер'})