include ../../component-templates/input-template/input-template.pug



mixin radio(options={})

	- const {type=RADIO.DEFAULT, label='', groupName='', selected} = options 

	case type 
		when RADIO.DEFAULT
			+input-tamplate({blockName: 'radio', inputType: 'radio', inputName: groupName, 
			customElementName: 'label', customElementValue: label, checked: selected})
	
	