include ../../component-templates/input-template/input-template.pug

- const RADIO= {'DEFAULT':0, 'FOR_SLIDER':1}

mixin radio(options={})

	- const {type=RADIO.DEFAULT, label='', radioName='', dataSelected, checked} = options 

	case type 
		when RADIO.DEFAULT
			+input-tamplate({blockName: 'switch', modificatorName: 'radio', inputType: 'radio', 
			radioName: radioName, customElementName: 'label', customElementValue: label, checked: checked})
		when RADIO.FOR_SLIDER
			+input-tamplate({blockName: 'switch', modificatorName: 'radio_white', inputType: 'radio', 
			radioName: inputRadioName, customElementName: 'label', customElementValue: label, checked: checked, dataSelected: dataSelected})
	