html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
}
.body {
  &__container {
		display: flex;
		justify-content: center;	
  }
	&__inner-container {
		width: 100%;
		max-width: 192rem;
	}
	&__main {
		flex: 1 0 auto;
	}
}
