include ../../components/header/header.pug
include ../../components/footer/footer.pug

include ../../component-templates/global-constants/constants.pug

html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		block title
	body 
		.body__container
			.body__inner-container
				block header 
					+header()
				block main
				block footer 
					+footer()
