html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
}
.body {
  &__container {
		height: 100%;
		max-height: 120rem;
		//TODO for PP
		// width: 144rem;
		// height: 90rem;	
  }	
	&__inner-container {
		max-width: 192rem;
		margin: 0 auto;
		//TODO for PP
		// margin: 0 0;
	}
	&__visible-content {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	&__main {
		display: flex;
		flex-grow: 1;
	}
	
}
