mixin button_checkbox_rich(content = 'content', desc = 'description')
	.button_checkbox__container.button_checkbox_rich__container
		.button_checkbox__input.
		.button_checkbox__content.button_checkbox_rich__content= content
			.button_checkbox_rich__description= desc
