mixin list_bullet(items= ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']) 
	.list_bullet__container
		ul.list_bullet__list 
			each val, index in options.items
				li.list_bullet__item= val
				