
mixin review()
	.rewiew__container 
		.review__title-container
			.review__avatar 
				img.review__image( alt='avatar')
			.review__title
				.review__user-name=''
				.review__date-created=''
		.review__review
			.review__like-button
				+button({type: BUTTON.LIKE, inputValue: 0 })
			.review__content=''