.dropdown__container {
	height: 4.4rem;
	width: 32rem;
	display: flex;
	position: relative;
	justify-content: center;
	.dropdown__input {
		padding-left: 1.5rem;
		color: rgba(31, 32, 65, 0.75);
		outline: transparent;
		border: 0.1rem solid rgba(31, 32, 65, 0.25);
		box-sizing: border-box;
		border-radius: 0.4rem;
		align-items: center;
		flex-grow: 1;
	}
	&::after {
		content: "expand_more";
		font-family: "MaterialIcons";
		width: 4rem;
		font-size: 2rem;
		line-height: 4rem;
		color: rgba(31, 32, 65, 0.75);
		text-align: center;
		position: absolute;
		right: 0;
		top: 0;
	}

	::placeholder {
		color: rgba(31, 32, 65, 0.75);
	}
}

.dropdown__expand-container {
	visibility: hidden;
	background-color: white; //jknlkbjhbjhvjg
	top: 4.4rem;
	position: absolute;
	width: 31.8rem;
	height: 15.8rem;
	border: 1px solid rgba(31, 32, 65, 0.5);
	border-top: none;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	border-bottom-left-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 2;
	.dropdown__item-container {
		padding-top: 0.5rem;
		padding-left: 1.5rem;
		padding-right: 0.6rem;
	}
}
.dropdown__container {
	.dropdown__expand-container_show {
		border: 1px solid rgba(31, 32, 65, 0.5);
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.dropdown__expand-container_show + .dropdown__expand-container {
		visibility: visible;
	}
}



	
	
	.dropdown__container_inline {
		height: 20.2rem;
		.dropdown__input{
			height: 4.4rem;
			flex-grow: 0;
		}
		.dropdown__expand-container{
		box-shadow: none;
		opacity: 1;
		position: static;
		visibility: visible;
		z-index: 1;
	}
	
	}
	

