.room-info__item-container {
	width: 28rem;
	height: 5.1rem;
	display: flex;
	align-items: center;
	border-bottom: 0.1rem solid rgba(31, 32, 65, 0.1);
	padding-bottom: 1.8rem;
	margin-bottom: 2rem;
	.room-info__information {
		margin-left: 1rem;
		height: 4.8rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.room-info__title {
			margin-top: 0.3rem;
			font-weight: bold;
		}
		.room-info__description {
			margin-bottom: 0.3rem;
		}
	}

	&::before {
		content: attr(data-icon);
		font-family: "MaterialIcons";
		font-size: 4.8rem;
		line-height: 4.8rem;
		background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
	}
}
