@import '@theme/colors.scss';

.dropdown {
  &__expand-container {
		display: none;
		width: 100%;
    background-color: white;
    position: absolute;
    border: 1px solid $dark-50;
		box-sizing: border-box;
    border-top: none;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    flex-direction: column;
    padding-top: 0.5rem;
    z-index: 2;
  }
	&__item-container {
		padding-top: 0.5rem;
		padding-left: 1.5rem;
		padding-right: 0.6rem;
	}
	&__container_item-quantity_open {
		.dropdown__expand-container {
			display: flex;
		}
	}	
	&__footer {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    color: $primory-color;
    justify-content: space-between;
    margin-top: 1.4rem;
    padding-left: 1.4rem;
    padding-right: 0.6rem;
    padding-bottom: 1.2rem;
  }
	&__dropdown__clear-button_disasbled {
		visibility: hidden;
	}
}


