.switch__container_toggle{
	width: auto;
	.switch__label_toggle {
		color: rgba(31, 32, 65, 0.75);
		&::before {
			width: 4rem;
			border-radius: 1rem;
			background: center left 0.4rem no-repeat url('./circle-no-active.svg');
		}
	}
	.switch__input_toggle:checked+.switch__label_toggle{
		&::before{
			content: '';
			background: center right 0.4rem no-repeat url('./circle.svg');
		}
	}
}

