

mixin footer_mobile()
	footer.footer__container.footer__container_mobile
		.footer__company.footer__company_mobile
			.footer__logo  
			.footer__name
		.footer__copyright.footer__copyright_modile='Copyright © 2018 Toxin отель. Все права защищены.'
		.footer__links
			a.footer__twitter(href='https://twitter.com')
			a.footer__facebook(href='https://www.facebook.com')
			a.footer__instagram(href='https://www.instagram.com')