include ../../component-templates/input-template/input-template.pug

- const BUTTON= {'WHITE_TEXT': 0, 'PURPLE_TEXT':1, 'PAY':2, 'LINK':3, 'LIKE':4}


mixin button(options={})

	- const {type=BUTTON.WHITE_TEXT, label='', dataSelected, commonModificators=[], disabled } = options

	case type 
		when BUTTON.WHITE_TEXT
			+input-tamplate({blockName: 'button', modificatorName: 'white-text', inputType: 'button', 
			inputValue: label, commonModificators: commonModificators, disabled: disabled})
		when BUTTON.PURPLE_TEXT
			+input-tamplate({blockName: 'button', modificatorName: 'purple-text', inputType: 'button', 
			inputValue: label, disabled: disabled})
		when BUTTON.PAY 	
			+input-tamplate({blockName: 'button', modificatorName: 'pay', inputType: 'button', 
			inputValue: label, disabled: disabled})
		when BUTTON.LINK	
			+input-tamplate({blockName: 'button', modificatorName: 'link', inputType: 'button', 
			inputValue: label, disabled: disabled})
		when BUTTON.LIKE 	
			- let counter = 0;
			if (label)
				- counter = label
			+input-tamplate({blockName: 'button', modificatorName: 'like', inputType: 'button',
			 inputValue: counter, commonModificators: commonModificators, disabled: disabled})
		