.button {
  &__container {
    min-width: 9.9rem;
		max-width: 32rem;
    height: 4.4rem;
    display: flex;
		
  }
  &__input {
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 2.2rem;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    border: none;
    background-color: white;
    flex-grow: 1;
		cursor: pointer;

		&:disabled{
			cursor: default;
		}
  }
	
}
