.dropdown-item__container {
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.7rem;
	.dropdown-item__button-container {
		width: 9.2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.dropdown-item__sub-button {
			height: 2.8rem;
			width: 2.8rem;
			border-radius: 50%;
			border: 0.1rem solid rgba(31, 32, 65, 0.25);
			background: center no-repeat url("./-.svg");
			box-sizing: border-box;
		}
		.dropdown-item__add-button {
			height: 3rem;
			width: 3rem;
			border-radius: 50%;
			border: 0.1rem solid rgba(31, 32, 65, 0.5);
			background: center no-repeat url("./+.svg");
			box-sizing: border-box;
			flex-shrink: 0;
		}
	}
}

.dropdown-item__container {
	.dropdown-item__button-container {
		.dropdown-item__sub-button_active {
			border-color: rgba(31, 32, 65, 0.5);
		}
	}
}
