//- include ../../external-container/external-container.pug

mixin dropdown-date-block(options)
	.dropdown-date-block__container
		.dropdown-date-block_arrival
			//- +title({type: TITLE_TYPE.SHORT, title: options.titleArrival})
			+input({type: INPUT_TYPE.DATE, dataType: 'arrival-'+options.dataSelector})
		.dropdown-date-block_departure
			//- +title({type: TITLE_TYPE.SHORT, title: options.titleDeparture})
			+input({type: INPUT_TYPE.DATE, inputValue: options.inputValue, dataType: 'departure-'+options.dataSelector})