html {
	font-size: 62.5%;
}
body {
	margin: 0;
	padding: 0;
}
.search-room__main {
	width: 116rem;
	display: flex;
	padding: 4rem 14rem;
	justify-content: space-between;
	.search-room__preferences {
		display: flex;
		flex-direction: column;
		
	}
	.search-room__rooms {
		display: flex;
		flex-direction: column;
		.search-rooms__fitered-rooms {
			display: grid;
			grid-template-columns: repeat(3, 28.2rem);
			grid-template-rows: repeat(4, 27.8rem);
			
		}
	}
}
