
.search-room {
  &__container {
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
  &__flexable-container {
    display: flex;
    flex: 0 0 116rem;
    padding: 3rem 5rem;
		justify-content: space-between;
  }
	&__preferences {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
	&__rooms {
		display: flex;
		flex-direction: column;	
	}
	&__fitered-rooms {
		display: grid;
		grid-template-columns: repeat(3, 27rem);
		grid-template-rows: repeat(4, 25.75rem);
		gap: 2.1rem 1.2rem
	}
	&__pagination {
		align-self: center;
	}
}
