.dropdown__title-container_date {
	width: 15rem;
	.dropdown__input_date {
		width: 15rem;
	}
	.dropdown__input_date_departure-focused{
		border-color: rgba(31, 32, 65, 0.5);
		color: rgba(31, 32, 65, 0.75);;
	}
}
