
mixin dropdown_date(options= {value: ''})
	.dropdown__container.dropdown__container_date
		.dropdown__title-container.dropdown__title-container_date
			input.dropdown__input.dropdown__input_date(type='Text', placeholder='ДД.ММ.ГГГГ', value= options.value, data-type= options.dataType)
		