include ../../component-templates/input-template/input-template.pug

-
	const MODIFICATOR = {'SELECTED':'selected', 'CUSTOM_HEIGHT':'custom-height', 'CUSTOM_MARGIN_BOTTOM':'custom-margin-bottom'}
	const JS_CLASS = {'CONTAINER': 0, 'INPUT':1}

