include ../../components/input-field/constant/constant.pug

include ../../components/button/constant/constant.pug

include ../../components/radio/constant/constant.pug

include ../../components/toggle/constant/constant.pug

include ../../components/dropdown/constant/constant.pug

include ../../components/checkbox/constant/constant.pug

include ../../components/list/constant/constant.pug

- const TITLE = {'DEFAULT':0, 'FOR_BUTTON':1, 'FOR_SECTION':2}

-
	const MODIFICATOR = {'SELECTED':'selected', 'OPEN':'open', 'INLINE':'inline','EXPANDABLE':'expandable', 'CUSTOM_PARAMETR':'custom-parametr'}
	const JS_CLASS = {'CONTAINER': 0, 'INPUT':1}

