mixin external-container_long (options)
	.external-container__container.external-container__container_long
		H3.external-container__title.external-container__title_long= options.title 
		.external-container__description.external-container__description_long= options.description