.button__container_purple-text_slim{
	width: 8.7rem;
	height: 3.4rem;
	.button__input_purple-text_slim {
		box-shadow: inset 0 0 0 0.2rem #BC9CFF;
		color: #BC9CFF;
		&:active{
			opacity: 0.5;
		}
	}
}
