include ./_checkbox/button_checkbox.pug
include ./_default/button_default.pug
include ./_like/button_like.pug
include ./_radio/button_radio.pug
include ./_star/button_star.pug
include ./_toggle/button_toggle.pug