
	.button__input {
		opacity: 0;
		position: absolute;
		width: 2rem;
		height: 2rem;
		align-self: baseline;
	}
	.button__label {
		color: rgba(31, 32, 65, 0.5);
		display: flex;
		flex-shrink: 0;
		&::before {
			content: "";
			width: 2rem;
			height: 2rem;
			align-self: baseline;
			border: 0.1rem solid rgba(31, 32, 65, 0.25);
			box-sizing: border-box;
			margin-right: 1rem;
			flex-shrink: 0;
		}
	}
	.button__input:checked + .button__label {
		&::before {
			content: "";
			border-color: #bc9cff;
		}
	}

