.switch__container_checkbox {
	width: 22.2rem;
	.switch__label_checkbox {
		background-color: white;
		padding-bottom: 1rem;
		&::before {
			content: '';
			border-radius: 0.4rem;
		}
	}
	.switch__input_checkbox:checked+.switch__label_checkbox {
		&::before {
			content: '';
			background: center no-repeat url('./checked.svg');
		}
	}
}
