
mixin input-field(options)
	//- let type=options.type ? 'input-field__container'+type : ''
	div(class='input-field__container'+options.type)
		input.div(class='input-field__input-text'+options.type)(type='text', placeholder = options.placeholder)