- const TYPE ={'DEFAULT':'', 'SUBSCRIPTION':'_subscription' }
mixin input-field(options)
	- let container=' input-field__container'+options.type
	- let visibility=( options.type==TYPE.SUBSCRIPTION) ? visible : hidden
	div(class='input-field__container'+container)
		input.div(class='input-field__input-text')(type='text', placeholder = options.placeholder)
		.input-field__subscibed-button_subscription(visibility: visibility)