mixin input-field_checkbox (content="Можно пригласить гостей (до 10 человек)")
	.input-field.input-field_checkbox
		input.input-field_checkbox__input(type="checkbox")
		.input-field_checkbox__content= content