.input-field_checkbox {
	width: 22.2rem;
	height: unset;
	min-height: 2rem;
	justify-content: start;
	flex-direction: row-reverse;
	align-items: center;
}
.input-field_checkbox__input {
	-webkit-appearance: none;
	position: absolute;
	width: 2rem;
	height: 2rem;
	align-self: baseline;
}
.input-field_checkbox__content {
	color:rgba(31, 32, 65, 0.50);
	display: flex;
	&::before {
		content: "";
		width: 2rem;
		height: 2rem;
		align-self: baseline;
		border: 0.1rem solid rgba(31, 32, 65, 0.25);
		box-sizing: border-box;
		border-radius: 0.4rem;
		margin-right: 1rem;
		flex-shrink: 0
	}
}
.input-field_checkbox__input:checked + .input-field_checkbox__content::before {
	content: "";
	border-color: #bc9cff;
	background:center no-repeat url(./Vector.svg);

}
