include ../../components/title/title.pug
include ../../components/input-field/input-field.pug
include ../../components/button/button.pug

mixin dropdown-template(options={})
	-
		const {blockName='dropdown', modificatorName='', thirdPartyPlugin=false, commonModificators=[],
		 items=[], selectedDates =[], doubleInput=false, firstTitle='', secondTitle='',
		  placeholder, footerButtonActive=false, useJS=[JS_CLASS.CONTAINER ] } = options
		
		//- const [firstDate, secondDate] = selectedDates.split(' ')

		let containerClassName = blockName + '__container'
		
		let modificatorsContainerClassName=''
		let jsContainerClasses=''

	if ((commonModificators.length)&&modificatorName)
		each modificator in commonModificators	
			- modificatorsContainerClassName += containerClassName+'_'+modificatorName+'_'+modificator+' '
	else 
		if (commonModificators.length)
			each modificator in commonModificators
				- modificatorsContainerClassName += containerClassName+'_'+ modificator+' '
	if (useJS.length)
		each jsClass in useJS
			case jsClass
				when JS_CLASS.CONTAINER 
					- jsContainerClasses= 'js-' + containerClassName
				
	-
		containerClassName += modificatorName ? ' '+containerClassName+'_'+ modificatorName : ''
		containerClassName += ' ' + jsContainerClasses
		containerClassName += ' '+modificatorsContainerClassName
		containerClassName += doubleInput ? ' double-input-field' : ''
		containerClassName += footerButtonActive ? ' footer-button-active' : ''


	div(class=containerClassName)
		if (thirdPartyPlugin)
			if (doubleInput)
				.dropdown__inputs-conteiner.js-dropdown__inputs-container
					.dropdown__input-container
						+title({title: firstTitle})
						+input-field({type: INPUT_FIELD.FOR_DATE_DROPDOWN, placeholder: placeholder, inputText: selectedDates})
					.dropdown__input-container
						+title({title: secondTitle})
						+input-field({type: INPUT_FIELD.FOR_DATE_DROPDOWN, placeholder: placeholder, inputText: ''})
			else 	
				+input-field({type: INPUT_FIELD.FOR_DATE_DROPDOWN, placeholder: placeholder, inputText: selectedDates})
		else
			+input-field({type: INPUT_FIELD.FOR_ITEMS_DROPDOWN, placeholder: placeholder})
			.dropdown__expand-container
					+dropdown-item('', 0)
					if (footerButtonActive)
						.dropdown__footer
							.dropdown__clear-button
								+button({type: BUTTON.LINK, label: 'очистить'})
							.dropdown__apply-button
								+button({type: BUTTON.LINK, label: 'применить'})
			
