include ./_long/external-container_long.pug
include ./_middle/external-container_middle.pug
include ./_short/external-container_short.pug
include ./_buttons/external-container_buttons.pug

-const TITLE_TYPE = {'LONG':0, 'MIDDLE':1, 'SHORT':2, 'BUTTONS':3}

mixin title(options)

	case options.type 
		when TITLE_TYPE.LONG 
			+external-container_long({title: options.title, description: options.description})
		when TITLE_TYPE.MIDDLE
			+external-container_middle({title: options.title, description: options.description})
		when TITLE_TYPE.SHORT
			+external-container_short({title: options.title})
		when TITLE_TYPE.BUTTONS
			+external-container_buttons({title: options.title})