
mixin review()
	.rewiew__container 
		.review__title-container
			.review__avatar 
				img.review__image( alt='avatar')
			.review__title
				p.review__user-name=''
				p.review__date-created=''
		.review__review
			.review__like-button
				+input({type: INPUT_TYPE.BUTTON_LIKE, inputValue: 0 })
			.review__content=''