mixin switch_checkbox_rich(options)
	label.switch__container.switch__container_checkbox.switch__container_checkbox_rich
		input.switch__input.switch__input_checkbox.switch__input_checkbox_rich(type='checkbox')
		div.switch__label.switch__label_checkbox.switch__label_checkbox_rich= options.inputLabel
		div.switch__description_checkbox_rich= options.inputLabelDescription