
mixin slider-button-block(namber)
	.slider-button-block__container
		+input({type: INPUT_TYPE.RADIO_WHITE, inputRadioName: 'slider-'+namber, dataSelected: 0, checked: ''})
		- for (let i=1; i<4; i++)
			+input({type: INPUT_TYPE.RADIO_WHITE, inputRadioName: 'slider-'+namber, dataSelected: i})
		