
mixin slider-button-block()
	.slider__container
		+input({type: INPUT_TYPE.RADIO, inputRadioName: 'gende'})
		+input({type: INPUT_TYPE.RADIO, inputRadioName: 'gende'})
		+input({type: INPUT_TYPE.RADIO, inputRadioName: 'gende'})
		+input({type: INPUT_TYPE.RADIO, inputRadioName: 'gende'})