include ../../component-templates/title-template/title-template.pug


mixin title (options={})

	- const {type=TITLE.DEFAULT, title='', description='', commonModificators=[]} = options

	case type 
		when TITLE.DEFAULT 
			+title-template({title: title, description: description, commonModificators: commonModificators})
				block
		when TITLE.FOR_BUTTON 
			+title-template({modificatorName: 'for-button', title: title, description: description, commonModificators: commonModificators})
				block
		when TITLE.FOR_SECTION
			+title-template({modificatorName: 'for-section', titleH2:true, title: title, description: description, commonModificators: commonModificators})
				block
				
	
