@import '@theme/colors.scss';

.title {
  &__container {
    max-width: 32rem;
    min-width: 15rem;
    display: flex;
    flex-direction: column;
  }
  &__title-container {
		display: flex;
		justify-content: space-between;
    align-items: start;
		margin-bottom: 0.5rem;
  }	
  &__description {
    color: $dark-50;
    text-transform: uppercase;
    font-weight: normal;
  }
}
