/* -------------------------------------------------
    Datepicker vars
   ------------------------------------------------- */

.air-datepicker {
	--adp-font-family: "Montserrat";
	--adp-font-size: 1.4rem;
	--adp-width: 31.8rem;
	--adp-z-index: 100;
	--adp-padding: 1.9rem 2rem;
	--adp-grid-areas: "nav" "body" "timepicker" "buttons";

	--adp-transition-duration: 0.3s;
	--adp-transition-ease: ease-out;
	--adp-transition-offset: 8px;

	--adp-background-color: #fff;
	--adp-background-color-current-date: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
	--adp-background-color-hover: transparent;
	--adp-background-color-active: transparent;
	--adp-background-color-in-range: rgba(188, 156, 255, 0.5);
	--adp-background-color-in-range-focused: rgba(188, 156, 255, 0.5);
	--adp-background-color-selected-other-month-focused: rgba(188, 156, 255, 0.5);
	--adp-background-color-selected-other-month: rgba(188, 156, 255, 0.5);
	--adp-color: rgba(31, 32, 65, 0.5);
	--adp-color-secondary: var(--adp-color);
	--adp-accent-color: rgba(188, 156, 255, 1);
	--adp-title-color: rgba(31, 32, 65, 1);
	--adp-color-current-date: #fff;
	--adp-color-other-month: rgba(31, 32, 65, 0.25);
	--adp-color-disabled: #fff;
	--adp-color-disabled-in-range: rgba(188, 156, 255, 0.5);
	--adp-color-other-month-hover: rgba(31, 32, 65, 0.25);

	--adp-border-color: rgba(31, 32, 65, 0.25);
	--adp-border-color-inner: none;
	--adp-border-radius: 0.4rem;
	--adp-border-color-inline: #d7d7d7;

	--adp-nav-height: 2.4rem;
	--adp-nav-arrow-color: var(--adp-accent-color);
	--adp-nav-action-size: 2.4rem;
	--adp-nav-color-secondary: var(--adp-accent-color);

	--adp-day-name-color: rgba(188, 156, 255, 1);

	--adp-day-cell-width: 4rem;
	--adp-day-cell-height: 4rem;
	--adp-month-cell-height: 42px;
	--adp-year-cell-height: 56px;

	--adp-pointer-size: 10px;
	--adp-poiner-border-radius: 2px;
	--adp-pointer-offset: 14px;

	--adp-cell-border-radius: 50%;
	--adp-cell-background-color-selected: rgba(188, 156, 255, 0.5);
	--adp-cell-background-color-selected-hover: rgba(188, 156, 255, 0.5);
	--adp-cell-background-color-in-range: rgba(188, 156, 255, 0.5);
	--adp-cell-background-color-in-range-hover: rgba(188, 156, 255, 0.5);
	--adp-cell-border-color-in-range: transparent;

	--adp-btn-height: 1.5rem;
	--adp-btn-color: var(--adp-accent-color);
	--adp-btn-color-active: rgba(188, 156, 255, 0.5);
	--adp-btn-color-hover: var(--adp-accent-color);
	--adp-btn-border-radius: none;
	--adp-btn-background-color-hover: var(--adp-background-color-hover);
	--adp-btn-background-color-active: var(--adp-background-color-active);

	--adp-time-track-height: 1px;
	--adp-time-track-color: #dedede;
	--adp-time-track-color-hover: #b1b1b1;
	--adp-time-thumb-size: 12px;
	--adp-time-padding-inner: 10px;
	--adp-time-day-period-color: var(--adp-color-secondary);

	--adp-mobile-font-size: 16px;
	--adp-mobile-nav-height: 40px;
	--adp-mobile-width: 320px;
	--adp-mobile-day-cell-height: 38px;
	--adp-mobile-month-cell-height: 48px;
	--adp-mobile-year-cell-height: 64px;
}

.air-datepicker-overlay {
	--adp-overlay-background-color: rgba(0, 0, 0, 0.3);
	--adp-overlay-transition-duration: 0.3s;
	--adp-overlay-transition-ease: ease-out;
	--adp-overlay-z-index: 100;
}

.air-datepicker-global-container {
	box-shadow: 0 1rem 2rem rgba(31, 32, 65, 0.05);
}
/* -------------------------------------------------
    Datepicker nav
   ------------------------------------------------- */

/*  Navigation action
   ------------------------------------------------- */

.air-datepicker-nav--action {
	display: flex;
	justify-content: center;
	svg {
		width: 1.7rem;
		height: 1.8rem;
	}

	path {
		fill: var(--adp-nav-arrow-color);
		stroke: var(--adp-nav-arrow-color);
		stroke-width: 0.5;
	}
}

/*  Navigation title
   ------------------------------------------------- */

.air-datepicker-nav--title {
	font-size: 1.9rem;
	font-family: "MontserratBold";
	line-height: 2.3rem;

	i {
		color: var(--adp-title-color);
	}
}

/* -------------------------------------------------
    Datepicker body
   ------------------------------------------------- */
.air-datepicker--content {
	padding: 1.8rem 2rem;
}

/*  Day names
   ------------------------------------------------- */
.air-datepicker-body--day-names {
	margin: 0;
	margin-bottom: 0.8rem;
}

.air-datepicker-body--day-name {
	text-transform: none;
	font-family: "MontserratBold";
}

/* -------------------------------------------------
    Datepicker cell
   ------------------------------------------------- */

.air-datepicker-cell {
	font-size: 1.2rem;
	&[data-year="2019"][data-month="7"][data-date="8"] {
		font-family: "MontserratBold";
		color: var(--adp-color-current-date);
		&::after {
			content: "";
			height: 4rem;
			width: 4rem;
			position: absolute;
			background: var(--adp-background-color-current-date);
			border-radius: 50%;
			z-index: -1;
		}
		&.-range-from-,
		&.-range-to- {
			font-family: "MontserratBold";
			&::after {
				content: "";
				height: 4rem;
				width: 4rem;
				position: absolute;
				background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%); //var(--adp-cell-background-color-selected);
				border-radius: 50%;
				z-index: -1;
			}
		}
	}

	&.-current- {
		font-family: "MontserratBold";
		&::after {
			content: "";
			height: 4rem;
			width: 4rem;
			position: absolute;
			background: var(--adp-background-color-current-date);
			border-radius: 50%;
			z-index: -1;
		}
	}

	&.-range-from-,
	&.-range-to- {
		font-family: "MontserratBold";
		&::after {
			content: "";
			height: 4rem;
			width: 4rem;
			position: absolute;
			background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%); //var(--adp-cell-background-color-selected);
			border-radius: 50%;
			z-index: -1;
		}
	}
}

/* -------------------------------------------------
    Datepicker buttons
   ------------------------------------------------- */

.air-datepicker--buttons {
	padding-top: 0.2rem;
}
.air-datepicker-buttons {
	justify-content: start;
}

.air-datepicker-button {
	font-size: 1.2rem;
	text-transform: uppercase;
	font-family: "MontserratBold";

	&:active {
		color: var(--adp-btn-color-active);
	}
	span {
		justify-content: start;
	}
}
.dropdown__apply-button_date {
	span {
		justify-content: end;
	}
}
