.input-field_subscription__container{
	width: 26.7rem;
	.input-field_subscription__subscibed-button{
		height: 4.4rem;
		width: 4.4rem;
		background: center no-repeat url('./arrow_forward.svg');
		position: absolute;
		right: 0;
		z-index: 2;
	}
}
