.input-field__container_subscription{
	width: 26.7rem;
	.input-field__subscibed-button_subscription{
		height: 4.4rem;
		width: 4.4rem;
		background: center no-repeat url('./arrow_forward.svg');
		position: absolute;
		right: 0;
		z-index: 2;
	}
}
