.switch__container_checkbox_rich {
	display: inline-flex;
	flex-direction: column;
	margin-bottom: 1rem;
	.switch__label_checkbox_rich {
		width: 26.6rem;
		font-family: "MontserratBold";
		font-size: 1.4rem;
		line-height: 2rem;
		color: rgba(31, 32, 65, 0.75);
		margin: 0;	
		padding: 0;
	}

	.switch__description_checkbox_rich {
		width: 22.3rem;
		padding-left: 3rem;
		font-weight: normal;
		font-size: 1.2rem;
		line-height: 1.4rem;
		margin: 0;
		margin-top: 0.4rem;
		color: rgba(31, 32, 65, 0.5);
		white-space: pre-wrap;
		
	}
}
