include ../dropdown-item/dropdown-item.pug
mixin dropdown_guests(options) 
	.dropdown__container_guests 
		.dropdown__title-container
			input.dropdown__input(type='text')
		.dropdown__expand-container
			each val in options.items
				+dropdown-item(val)
			.dropdown__footer_guests
				.dropdown__clear-button
					+input({type: INPUT_TYPE.BUTTON_LINK, inputValue: 'очистить'})
				.dropdown__apply-button
					+input({type: INPUT_TYPE.BUTTON_LINK, inputValue: 'применить'})
				