include ../dropdown-item/dropdown-item.pug
mixin dropdown_guests(options=[]) 
	.dropdown__container.dropdown__container_guests.dropdown__container_show
		input.dropdown__input.dropdown__input_guests(type= 'text', placeholder = options.placeholder)
		.dropdown__expand-container
			.dropdown__item-container
				each val in options.items 
					+dropdown-item(val)
			.dropdown__footer_guests
				.dropdown__clear-button
					+input({inputType: INPUT_TYPE.BUTTON_LINK, inputValue: 'очистить'})
				.dropdown__apply-button
					+input({inputType: INPUT_TYPE.BUTTON_LINK, inputValue: 'применить'})