include ../../components/input-field/input-field.pug
include ../../components/checkbox/checkbox.pug
include ../../components/toggle/toggle.pug
include ../../components/radio/radio.pug
include ../../components/button/button.pug
include ../../components/title/title.pug
include ../../components/dropdown/dropdown.pug
include ../../components/rating/rating.pug
include ../../components/list/list.pug
include ../../components/radio-block/radio-block.pug

include ../../component-templates/global-constants/constants.pug

-
	const guestsItems = {'взрослые':2, 'дети':1, 'младенцы':0}
	const comfortItems = ['спальни', 'кровати', 'ванные комнаты']

html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body 
		.main__container
			a(href='./landing-page.html') landing-page
			a(href='./room-details.html') room-details 
			a(href='./search-room.html') search-room
			a(href='./form-elements.html') form-elements
			a(href='./cards.html') cards 
			a(href='./headers&footers.html') headers&footers
			

		

		
