include ../../components/input-field/input-field.pug
include ../../components/checkbox/checkbox.pug
include ../../components/toggle/toggle.pug
include ../../components/radio/radio.pug
include ../../components/button/button.pug
include ../../components/title/title.pug
include ../../components/dropdown/dropdown.pug

include ../../component-templates/global-constants/constants.pug

html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body 
		.main__container
			a(href='./landing-page.html') laanding-page
			a(href='./room-details.html') room-details 
			a(href='./search-room.html') search-room
			+input-field({type: INPUT_FIELD.SUBSCRIBE})
			+title({title: 'Text Field', description: 'Hover /Focus'})
			+input-field
			+checkbox({label: 'lkj;lhlkh'})
			+checkbox({type: CHECKBOX.RICH, label: 'Помощник для инвалидов', 
			labelDescription: 'На 1 этаже вас встретит специалист  и проводит до номера.'})
			+toggle({label: 'kojgofjn'})
			+radio({label: 'jkklglyufguy'})
			+title({title: 'Buttons', commonModificators: [MODIFICATOR.CUSTOM_PARAMETR]})
			+button({type: BUTTON.WHITE_TEXT, label: 'khbkhlj', commonModificators: [MODIFICATOR.SELECTED]})
			+button({type: BUTTON.PURPLE_TEXT, label : 'jkhjgglflfk' , disabled: true})
			+button({type: BUTTON.PAY, label: 'kjlhghjggjggjkg', disabled: true})
			+button({type: BUTTON.LINK, label: 'jkhjgjkfkffhj', disabled: true})
			+button({type: BUTTON.LIKE, label: 10, commonModificators: [MODIFICATOR.SELECTED]})
			+button({type: BUTTON.LIKE, label: 7})
			+dropdown({type: DROPDOWN.DATE_PICKER, selectedDates: '2019-08-19 2019-08-23'})
			+dropdown({type: DROPDOWN.DATE_PICKER, selectedDates: '2019-08-19 2019-08-23', doubleInput: true, commonModificators: [MODIFICATOR.OPEN]})
			.separator
		

		
