include ../../components/input-field/input-field.pug
include ../../components/checkbox/checkbox.pug
include ../../components/toggle/toggle.pug
include ../../components/radio/radio.pug
include ../../components/button/button.pug

html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body 
		.main__container
			a(href='./landing-page.html') laanding-page
			a(href='./room-details.html') room-details 
			a(href='./search-room.html') search-room
			+input-field({type: INPUT_FIELD.SUBSCRIBE})
			+input-field
			+checkbox({label: 'lkj;lhlkh'})
			+checkbox({type: CHECKBOX.RICH, label: 'Помощник для инвалидов', 
			labelDescription: 'На 1 этаже вас встретит специалист  и проводит до номера.'})
			+toggle({label: 'kojgofjn'})
			+radio({label: 'jkklglyufguy'})
			+button({type: BUTTON.WHITE_TEXT, label: 'khbkhlj', active: true})
			+button({type: BUTTON.PURPLE_TEXT, label : 'jkhjgglflfk'})
			+button({type: BUTTON.PAY, label: 'kjlhghjggjggjkg'})
			+button({type: BUTTON.LINK, label: 'jkhjgjkfkffhj'})
			+button({type: BUTTON.LIKE})

		
