// Definition of colors theme
$dark-100: #1f2041;
$dark-75: rgba(31, 32, 65, 0.75);
$dark-50: rgba(31, 32, 65, 0.5);
$dark-25: rgba(31, 32, 65, 0.25);
$dark-5: rgba(31, 32, 65, 0.05);
$primory-color: #bc9cff;
$secondary-color: #6fcf97;

//Determination of the fonts of the theme
@font-face {
	font-family: "Montserrat";
	src: url("@ui-kit/_theme/assets/fonts/Montserrat-Regular.svg"),
		url("@ui-kit/_theme/assets/fonts/Montserrat-Regular.ttf"),
		url("@ui-kit/_theme/assets/fonts/Montserrat-Regular.woff");
}

input, textarea, select, button {
	font: inherit;
 }

 
body {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: $dark-75;
}

h1 {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29.26px;
	color: $dark-100;
}

h2 {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 23.16px;
	color: $dark-100;
}

h3 {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14.63px;
	text-transform: uppercase;
	color: $dark-100;
	margin: 0;
}
