.dropdown__container_comfort {
	flex-direction: column;
	width: 26.6rem;
	.dropdown__input_comfort {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		padding-right: 8.8rem;
	}
	
	.dropdown__expand-container_comfort {
		height: 11.8rem;
		width: 26.4rem;
	}
}

