.dropdown__expand-container_show {
	// flex-direction: column;
	width: 26.6rem;
.dropdown__title-container_comfort{
	.dropdown__input_comfort {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		padding-right: 8.8rem;
	}
}
	.dropdown__expand-container_comfort {
		width: 26.4rem;
		
	}
}

.dropdown__title-container_comfort{
	width: 26.6rem;
	.dropdown__input_comfort{
		width: 26.6rem;
	}
}

.dropdown__container_inline {
	.dropdown__expand-container_comfort{
		width: 26.4rem;
	}
}

