.button__container_link {
	width: auto;
	height: auto;
	display: block;
	
	.button__input_link {
		width: unset;
		height: unset;
		border: unset;
		color: #bc9cff;
		&:active {
			color: rgba(31, 32, 65, 0.5);
		}
	}
}
.button__input_link:disabled{
	display: none;
}