.button_like{
	min-height: 5.1rem;
	min-width: 9rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.button_like__button{
	width: 4rem;
	height: 2rem;
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-radius: 1rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	
}
.button_like__counter{
	color: rgba(31, 32, 65, 0.25);
}
.button_like__icon{
	width: 1rem;
	height: 1rem;
	background: center no-repeat url(./favorite-icon.svg);
}
.button_like__button_selected{
	border-color: #BC9CFF;
	.button_like__icon{
		background: center no-repeat url(./favorite-icon-selected.svg);
	}
	.button_like__counter{
		color: #BC9CFF;
	}
}