.button__container {
	width: 9.9rem;
	height: 4.4rem;
	display: flex;
	.button__input {
		align-items: center;
		flex-direction: row;
		justify-content: center;
		border-radius: 2.2rem;
		font-weight: bold;
		font-size: 1.2rem;
		line-height: 1.5rem;
		text-transform: uppercase;
		letter-spacing: 0.012rem;
		border: none;
		background-color: white;
		flex-grow: 1;
	}
}
