mixin button_checkbox (label="Можно пригласить гостей (до 10 человек)")
	.button__container.button__container_checkbox
		label
			input.button__input.button__input_checkbox(type="checkbox")
			.button__label.button__label_checkbox=label