.button_checkbox__container {
	width: 22.2rem;
	min-height: 2.2rem;
	display: flex;
	align-items: center;
	flex-direction: row;
}
.button_checkbox__checkbox {
	width: 2rem;
	height: 2rem;
	display: none;
	position: absolute;
}
.button_checkbox__content {
	display: flex;
	color: rgba(31, 32, 65, 0.5);
	width: 22.2rem;
	&::before {
		content: '';
		width: 2rem;
		height: 2rem;
		margin-right: 1rem;
		border: 0.1rem solid rgba(31, 32, 65, 0.25);
		box-sizing: border-box;
		border-radius: 0.4rem;
		flex-shrink: 0;
	}
}

.button_checkbox__container_checked {
	.button_checkbox__content{
		&::before{
			border: 1px solid #BC9CFF;
			background: center no-repeat url('./checked.svg');
		}
	}
}
