mixin button_checkbox (content="Можно пригласить гостей (до 10 человек)")
	.button.button_checkbox
		input.button__input.button-checkbox__input(type="checkbox")
		.button__content.button_checkbox__content= content