include ./dropdown-item/dropdown-item.pug
include ./_comfort/dropdown_comfort.pug
include ./_guests/dropdown_guests.pug
include ./_date/dropdown_date.pug

- const DROPDOWN_TYPE = {'GUESTS':0, 'COMFORT':1, 'FILTER_DATE':3}

mixin dropdown(options)
	case options.dropdownType 
		when DROPDOWN_TYPE.GUESTS 
			+dropdown_guests({title: options.dropdownTitle, items: options.dropdownItems })
		when DROPDOWN_TYPE.COMFORT 
			+dropdown_comfort({title: options.dropdownTitle, items: options.dropdownItems})
		when DROPDOWN_TYPE.DATE 
			+dropdown_date({title: options.dropdownTitle})

	