include ../../component-templates/input-template/input-template.pug

- const INPUT_FIELD={'TEXT':0, 'SUBSCRIBE':1}

mixin input-field(options={})

	- const {type=INPUT_FIELD.TEXT, inputType='text', placeholder,  dataSelected, inputText, autofocus} = options 
	
	case type 
		when INPUT_FIELD.TEXT
			+input-tamplate({blockName: 'input-field', inputType: inputType, placeholder: placeholder, 
			dataSelected: dataSelected, inputValue: inputText, autofocus: autofocus, })
		when INPUT_FIELD.SUBSCRIBE
			+input-tamplate({blockName: 'input-field', modificatorName: 'subscription', inputType: inputType, 
			placeholder: 'Email', inputValue: inputText, customElementName: 'submit-button', customElementValue: 'arrow_forward'})
	


