.list {
	&__items_bullet_for-chart{
		padding-left: 2.6rem;
		@media screen and (max-width: 420px) {
      padding-left: 1rem;
    }
	}
	&__item_bullet_for-chart {
		width: auto;
		margin: 0;
		&::before{
			margin-right: 0.5rem;
		}
		&:nth-child(1)::before {
			content: '';
			background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
		}
		&:nth-child(2)::before {
			content: '';
			background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
		}
		&:nth-child(3)::before {
			content: '';
			background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
		}
		&:nth-child(4)::before {
			content: '';
			background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
		}
	}
}

