extends ../../page-templates/page-template/page-template.pug

include ../../components/header/header.pug
include ../../components/footer/footer.pug

block title 	
	title Heders&Footers
block header 
block main		
	body 
		.headers-and-footers__page-container
			.headers-and-footers__logo
			+header()
			.headers-and-footers__signin-header.js-headers-and-footers__signin-header
				+header()
			+footer()
			.headers-and-footers__footer_mobile 
				+footer()
	 		

	 		

		