.list {
  &__container_checkbox {
    width: 26.6rem;
    //height: 4.4rem;
    display: flex;
    flex-direction: column; 
	
  }
	&__input_checkbox {
		opacity: 0;
		position: absolute;
	}
	&__title-container_checkbox {
		display: flex;
		align-items: center;
	 
	}
	&__title_checkbox {
		flex-grow: 1;
	}
	
	&__items_checkbox {
		margin-top: 1.7rem;
		display: flex;
		flex-direction: column;
	
	}
	&__item_checkbox{
		margin-bottom: 1rem;
		&:last-child{
			margin-bottom: 0rem;
		}
	}
	&__container_checkbox_custom-parametr{
		.list__items_checkbox{
			margin-top: 1rem;
		}
		.list__item_checkbox{
			margin-bottom: 0.5rem;
		}
	}
	&__container_checkbox_expandable{
		.list__title-container_checkbox{
			cursor: pointer;
		}
		.list__expand-icon_checkbox {
			width: 4.4rem;
			height: 1.5rem;
			background: center no-repeat url('./expand_more.svg');
		}
		.list__items_checkbox {
			display: none;
		}
		.list__input_checkbox:checked + .list__title-container_checkbox {
			.list__expand-icon_checkbox {
				transform: rotate(180deg);
			}
		}
		.list__input_checkbox:checked ~ .list__items_checkbox {
			display: flex;
		}
	}
}


