mixin list_checkbox(options)
		-
			const {checkboxType=CHECKBOX.DEFAULT, title='', open, items, commonModificators} = options
			let containerClassName = 'list__container_checkbox'
			if (commonModificators)
			commonModificators.forEach(modificator => containerClassName+=' '+containerClassName+'_'+modificator)
		label(class = containerClassName)
			input.list__input_checkbox(type= 'checkbox', checked=open)
			.list__title-container_checkbox
				H3.list__title_checkbox= title
				.list__expand-icon_checkbox
			.list__items_checkbox
				each state, label in items
					.list__item_checkbox
						if (state)
							+checkbox({type: checkboxType, label: label, checked: state})
						else 	
							+checkbox({type: checkboxType, label: label})

		
