
mixin radio-block()
	.radio_block__container
		+input({type: INPUT_TYPE.RADIO, inputRadioName: 'gender', inputLabel: 'Мужчина', checked: 'checked'})
		+input({type: INPUT_TYPE.RADIO, inputRadioName: 'gender', inputLabel: 'Женщина'})