include ./_desktop/footer_desktop.pug
include ./_mobile/footer_mobile.pug

-const FOOTER_TYPE = {'DESKTOP':0, 'MOBILE':1}

mixin footer(type)
	case type 
		when FOOTER_TYPE.DESKTOP
			+footer_desktop()
		when FOOTER_TYPE.MOBILE
			+footer_mobile()
	
				
