.footer {
  &__container {
		width: 100%;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
		box-sizing: border-box;
  }
	&__inner-container{
		display: flex;
		flex: 0 1 116rem;
    margin-left: auto;
    margin-right: auto;
	}

	&__main-info {
		display: flex;
		height: 17.3rem;
		padding: 10rem 5rem;
	}
	&__toxin-info {
		width: 26rem;
		height: 4rem;
		margin-right: 4rem;
	}
  &__company {
    display: flex;
    align-items: center;
    margin-bottom: 1.8rem;
    margin-top: 0;
   
  }
	&__logo {
		width: 11rem;
		height: 4rem;
		background: left no-repeat url('@theme/assets/Toxin.svg');
	}
  &__links {
    display: flex;
  }
	&__twitter {
		&::after {
			width: auto;
			height: 2.4rem;
			content: '\f099';
			font-family: 'Brands';
			font-size: 2.4rem;
			line-height: 2.3rem;
			margin-right: 2.4rem;
			background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
			color: transparent;
			-webkit-background-clip: text;
			background-clip: text;
		}
	}
	&__facebook {
		&::after {
			width: auto;
			height: 2.4rem;
			content: '\f082';
			font-family: 'Brands';
			font-size: 2.4rem;
			line-height: 2.3rem;
			margin-right: 2.4rem;
			background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
			color: transparent;
			-webkit-background-clip: text;
			background-clip: text;
		}
	}
	&__instagram {
		&::after {
			width: auto;
			height: 2.4rem;
			content: '\f16d';
			font-family: 'Brands';
			font-size: 2.4rem;
			line-height: 2.3rem;
			background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
			color: transparent;
			-webkit-background-clip: text;
			background-clip: text;
		}
	}

	&__subscribe-column {
		width: 26rem;
		display: flex;
		flex-direction: column;
		margin-top: 0.5rem;
		gap: 1.8rem;
	}
	&__subscribe-field {
		width: 26rem;
		margin-top: 0.4rem;
	}
	.footer__copyright-bar {
		display: flex;
	}
	&__copyright-bar {
		display: flex;
		height: 7rem;
		align-items: center;
		border-top: 1px solid rgba(31, 32, 65, 0.1);
		padding: 0rem 5rem;
		flex-wrap: wrap;
	}
	
	@media screen and (max-width: 76.8rem){
		&__main-info {
			width: 11rem;
			:not(:first-child){
				display: none;
			}
		}
	}
}
