.button_default_white-text__container {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); 
	.button_default__text {
		color: #ffffff;
	}
}
.button_default_white-text__container_hover{
	opacity: 0.5;
}