mixin dropdown-item(title='')
	.dropdown-item__container 
		h3.dropdown-item__title.js-dropdown-item__title= title
		.dropdown-item__button-container
			button.dropdown-item__sub-button(disabled= "disabled")= '-'
			button.dropdown-item__counter(itemName= title)= 0
			button.dropdown-item__add-button= '+' 
