mixin dropdown-item(title='')
	.dropdown-item__container 
		h3.dropdown-item__title= title
		.dropdown-item__button-container
			button.dropdown-item__sub-button(disabled= "disabled")= '-'
			input.dropdown-item__counter.js-dropdown-item__counter(itemName= title, value=0, type='button', disbled)
			button.dropdown-item__add-button.js-dropdown-item__add-button.dropdown-item__add-button_active= '+' 
