html { font-size: 62.5%; } 
body{
	margin: 0;
}

//TODO remove after test

// checkbox_rich
// .test{
// 	margin-top: 344px;
// 	margin-left: 587px;
// }

//toggle
// .test{
// margin-top: 469.56px;
// margin-left: 587px;
// }

//_like
// .test{
// 	margin-top: 565px;
// 	margin-left: 587px;
// }

//star
.test{
	//margin-top: 1196px;
	//margin-left: 401px;
	display: flex;
	flex-direction: row;
}
