include ../input-field/_date/input-field_date.pug
include ../input-field/_email/input-field_email.pug
include ../button/_checkbox/button_checkbox.pug
include ../button/_radio/button_radio.pug
include ../button/_toggle/button_toggle.pug
include ../button/_like/button_like.pug

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Form Elements 
	body
		.button_checkbox.form-elements_button
			+button_like()
			+button_toggle()
		
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		

		
	
		

	