html { font-size: 62.5%; } 
body{
	margin: 0;
	padding: 0;
}

.form-elements__page-container{
	width: 115.8rem;
	padding: 14.3rem 14.1rem;
}
.logo{
	width: 4.8rem;
	height: 4.8rem;
	position: absolute;
	top: 3rem;
	left: 3rem;
	background: center no-repeat url('../_theme/assets/Group.jpg');
}
.form-elements__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.column1{
		flex-direction: column;
		
	}
	.column1{
		flex-direction: column;
	}
	.column1{
		flex-direction: column;
	}
}

.form__container{
	margin-bottom: 2.15rem;
}
.form__container_dropdown-guests_closed{
	margin-bottom: 2.4rem;
}
.form__container_masked-field{
	margin-bottom: 4.1rem;
}
.form__container_dropdown-date{
	width: 32rem;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-bottom: 4.2rem;
}

.form__container_dropdown-filter-date{
	margin-bottom: 4.1rem;
}

.column2 {
	margin-right: 0.6rem;
}
.form__container_switch{
	margin-bottom: 4rem;
}
.form__container_switch_checkbox{
	margin-bottom: 3.2rem;
}
.form__container_radio-container{
	width: 22rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.form__container_toggle-container{
	display: flex;
	flex-direction: column;
	height: 5.4rem;
	justify-content: space-between;
	margin-bottom: 4.5rem;
}
.form__container_like-container{
	width: 9rem;
	display: flex;
	justify-content: space-between;
}
.form__container_rate-container{
	width: 26rem;
	display: flex;
	justify-content: space-between;
}


.form__container_slider{
	margin-bottom: 4.4rem;
}
.form__container_buttons-container {
	width: 21.7rem;
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;
}
.form__container_buttons-container_link{
	width: 14.2rem;
}
.form__container_pagination {
	margin-top: 4.2rem;
}
.form-elements__container_row2 {
	display: flex;
	margin-top: 8rem;
}
.form__container_dropdown-comfort_closed{
	margin-bottom: 2.1rem;
	margin-right: 18.1rem;
}
.form__container_dropdown-guests_opened{
	 margin-left: 12.6rem;
}
.form-elements__container_row3 {
	display: flex;
	margin-top: 15.9rem;
	align-items: baseline;
}
.column5{
	margin-right: 18rem;
	
}
.form__container_expandable-list_opened{
	margin-top: 2rem;
}
.form__container__rich-checkbox{
	display: flex;
	flex-direction: column;
	margin-right: 12.6rem;	
}
.form-elements__container_row4 {
	display: flex;
	justify-content: space-between;
	margin-top: 8.6rem;
}
.form__container_review{
	margin-top: 1rem;
}
