include ../input-field/input-field.pug
include ../input-field/_subscription/input-field_subscription.pug
include ../button/_checkbox/button_checkbox.pug
include ../button/_radio/button_radio.pug
include ../button/_checkbox/_rich/button_checkbox_rich.pug
include ../button/_toggle/button_toggle.pug
include ../button/_like/button_like.pug
include ../button/_star/button_star.pug
include ../button/_default/button_default.pug
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Form Elements 
	body
		.test
			+button_default_pay 
			
			
			
		
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		

		
	
		

	