include ../input-field/input-field.pug
include ../input-field/_subscription/input-field_subscription.pug
include ../button/_checkbox/button_checkbox.pug
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Form Elements 
	body
		.test
			+button_checkbox('Можно пригласить гостей (до 10 человек)')
			
			
		
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		

		
	
		

	