include ../../components/input-field/input-field.pug
include ../../components/button/button.pug

mixin login()
	.login__container 
		h1.login__tittle= 'Войти'
		+input-field({placeholder: 'Email'})
		.login__separate-container-1rem
		+input-field({placeholder: 'Пароль'})
		.login__separate-container-2rem
		+button({type: BUTTON.PAY, label: 'войти'})
		.login__footer-container
			p.login__information= 'Нет аккаунта на Toxin?'
			+button({type: BUTTON.PURPLE_TEXT, label: 'создать'})