.button__container_rate {
	width: 12rem;
	height: 2.4rem;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
.button__input_rate {
	visibility: hidden;
	width: 2.4rem;
	height: 2.4em;
	&::before {
		visibility: visible;
		content: "star_border";
		font-family: "MaterialIcons";
		font-size: 2.5rem;
		line-height: 3.5rem;
		background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		
	}
}

.button__input_rate:hover,
.button__input_rate:hover ~ .button__input_rate,
.button__input_rate:checked ~ .button__input_rate,
.button__input_rate:checked{
	&::before{
		content: "star";	
	}	
}
