include ../../component-templates/input-template/input-template.pug



mixin toggle(options={})

	- const {type=TOGGLE.DEFAULT, label='', checked} = options 

	case type 
		when TOGGLE.DEFAULT
			+input-tamplate({blockName: 'toggle', inputType: 'checkbox', 
			customElementName: 'label', customElementValue: label, checked: checked})