@import '@theme/colors.scss';

.button {
  &__container_link {
    width: auto;
    height: auto;
		min-width: unset;
    display: inline-block;
  }
  &__input_link {
    width: unset;
    height: unset;
    border: unset;
    color: $primory-color;
		&:disabled,
    &:active {
      color: $dark-50;
    }
  }
}
