include ../../button/button.pug
mixin list_checkbox(options)
	.list_checkbox__container.list_checkbox__container_show
		.list__title-container_checkbox
			H3.list__title_checkbox= options.title
			.list__expand-icon_checkbox
		.list_checkbox__list
			each val in options.items 
				+button_checkbox(val)
		
