include ../../button/button.pug
mixin list_checkbox(title= 'expandable checkbox list', items='[]')
	.list_checkbox__container.list_checkbox__container_show
		.list_checkbox__title-container
			H3.list_checkbox__title= title
			.list_checkbox__expand-icon
		.list_checkbox__list
			each val in items 
				+button_checkbox(val)
		
