include ../rating/rating.pug
mixin room-preview()
	.room-preview__container
		.room-preview__slider 
			.room-preview__view-port 
				.room-preview__img-container
				.room-preview__prev-next-button-container
					.room-preview__prev-button="expand_more"
					.room-preview__next-button="expand_more"
				.room-preview__button-container
		.room-preview__title-container
			H2.room-preview__room-number
			.room-preview__price
		.room-preview__separator
		.room-preview__rate-container 
			+rating({})
			.room-preview__rating-counter
		

