.room-preview__container {
	display: none;
	width: 27rem;
	height: 25.75rem;
	border: 0.1rem solid rgba(255, 255, 255, 1);
	border-radius: 0.4rem;
	background: #ffffff;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	.room-preview__slider {
		width: 27rem;
		height: 15.14rem;
		margin-bottom: 2rem;
		.room-preview__view-port {
			width: 27rem;
			height: 15.14rem;
			box-sizing: border-box;
			overflow: hidden;
			position: relative;
			user-select: none;
			.room-preview__img-container {
				display: flex;
				.room-preview__image {
					width: 27rem;
					height: 15.14rem;
					border-top-left-radius: 0.4rem;
					border-top-right-radius: 0.4rem;
					object-fit: cover;
				}
			}
			.room-preview__prev-next-button-container {
				width: 27rem;
				height: 15.4rem;
				display: none;
				justify-content: space-between;
				align-items: center;
				color: white;
				position: absolute;
				bottom: 0;
				font-size: 2.5rem;
				line-height: 5rem;
				
				.room-preview__prev-button {
					font-family: "MaterialIcons";
					transform: rotate(90deg);
					padding-bottom: 1.6rem;
				}
				.room-preview__next-button {
					font-family: "MaterialIcons";
					transform: rotate(-90deg);
					padding-bottom: 1.6rem;
				}
			}
			
			.room-preview__button-container {
				position: absolute;
				right: 1.2rem;
				bottom: 1.5rem;
				z-index: 2;
			
			}
		
		}
		.room-preview__view-port_button_show{
			.room-preview__prev-next-button-container{
				display: flex;
			}
		}
	}
	.room-preview__title-container {
		width: 23.2rem;
		height: 2.4rem;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding-left: 2rem;
		.room-preview__room-number {
			height: 3rem;
			.room-preview__number {
				font-size: 1.2rem;
			}

			.room-preview__additional {
				font-size: 1.2rem;
				color: rgba(188, 156, 255, 1);
				text-transform: uppercase;
			}
		}
		.room-preview__price {
			font-size: 1.2rem;
			color: rgba(31, 32, 65, 0.5);
			span {
				font-size: 1.4rem;
				font-family: "MontserratBold";
			}
		}
	}
	.room-preview__separator {
		width: 23rem;
		height: 0.1rem;
		border-bottom: 0.1rem solid rgba(31, 32, 65, 0.1);
		margin-bottom: 0.9rem;
		margin-top: 0.9rem;
		margin-left: 2rem;
	}
	.room-preview__rate-container {
		height: 2.4rem;
		width: 23rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 1.4rem;
		line-height: 1.8rem;
		color: rgba(31, 32, 65, 0.5);
		padding-left: 2rem;
		span {
			font-size: 1.4rem;
			font-family: "MontserratBold";
		}
	}
}
.room-preview__container_not-empty{
	display: block;
}

.room-preview__slider-button {
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 50%;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));;
	&_selected{
		background-color: #FFFFFF;
	}
}
