mixin dropdown_filter-date(options)
	.dropdown__container.dropdown__container_filter-date
		.dropdown__title-container.dropdown__title-container_filter-date
			input.dropdown__input.dropdown__input_filter-date(type='Text', placeholder='', value= options.value)