.button__container_like {
	width: 4rem;
	height: 2rem;
	position: relative;
	.button__input_like {
		border-radius: 1rem;
		border: 0.1rem solid rgba(31, 32, 65, 0.25);
		box-sizing: border-box;
		font-size: 10px;
		line-height: 12px;
		color: rgba(31, 32, 65, 0.25);
		text-align: right;
		padding-right: 1rem;
		justify-content: end;
	}
	&::before {
		content: "favorite_border";
		font-family: "MaterialIcons";
		font-size: 1rem;
		color: rgba(31, 32, 65, 0.5);
		position: absolute;
		margin-left: 0.5rem;
		line-height: 2rem;
		text-align: center;
		left: 0;
	}
}

.button__input_like_selected {
	.button__input_like {
		color: rgba(188, 156, 255, 1);
		border-color: rgba(188, 156, 255, 1);
	}

	&::before {
		content: "favorite";
		background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
	}
}
