include ../blocks/dropdown-date-block/dropdown-date-block.pug
//- include ../external-container/external-container.pug
mixin room-card()
	.room-card__container
		.room-card__title-container
			H1.room-card__room-number
			.room-card__price
		+dropdown-date-block({titleArrival: 'Прибытие', titleDeparture: 'Выезд', dataSelector:'room'})
		.room-card__dropdown
			//- +title({type: TITLE_TYPE.MIDDLE, title: 'Гости'})
			+input({type: INPUT_TYPE.GUESTS})
		.room-card__info-container 
			.room-card__info 
				.room-card__room-info 
				.room-card__service-info='Сбор за услуги: ' 
				.room-card__service-info='Сбор за дополнительные услуги'
				.room-card__total 
					H2.room-card__total-info='Итого'
					.room-card__separator
			.room-card__price-info
				.room-card__room-price 
				.room-card__room-price 
				.room-card__room-price
				H2.room-card__total-price
					

		+input({type: INPUT_TYPE.BUTTON_PAY, inputValue: 'забронировать'})
