.room-card {
  &__container {
    width: 38rem;
    height: 51.2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.2);
    padding: 4.1rem 2.8rem 2.3rem 3rem;
    background: #ffffff;
  }
  &__title-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__room-number {
    height: 3rem;
  }
  &__number {
    font-size: 1.2rem;
  }
  &__additional {
    font-size: 1.2rem;
    color: rgba(188, 156, 255, 1);
    text-transform: uppercase;
  }
  &__price {
    font-size: 1.2rem;
    color: rgba(31, 32, 65, 0.5);
    span {
      font-size: 1.4rem;
      font-weight: bold;
    }
  }
  &__items-dropdown {
    margin-top: 2.1rem;
    margin-bottom: 1.8rem;
  }

  &__room-info {
    margin-bottom: 1.3rem;
  }
  &__service-info {
    width: 23.9rem;
    display: flex;
    flex-direction: row;
    line-height: 1.8rem;
    &::after {
      content: 'i';
      font-weight: bold;
      font-size: 1.2rem;
      line-height: 1.8rem;
      text-align: center;
      color: rgba(31, 32, 65, 0.25);
      width: 2rem;
      height: 2rem;
      border: 0.1rem solid;
      border-radius: 50%;
      box-sizing: border-box;
      margin-left: 0.5rem;
      margin-bottom: 1.4rem;
      flex-shrink: 0;
    }
  }
  &__total {
    display: flex;
    align-items: baseline;
  }
  &__total-info {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  &__separator {
    flex-grow: 1;
    border-bottom: 0.1rem dashed;
  }
  &__info-container {
    display: flex;
    justify-content: space-between;
  }
  &__price-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__room-price {
    margin-bottom: 1rem;
  }
  &__total-price {
    margin-top: 3.4rem;
  }
}
