.input-field__container {
	display: flex;
	position: relative;
	.input-field__input {
		height: 4.4rem;
		width: 32rem;
		padding-left: 1.4rem;
		color: rgba(31, 32, 65, 0.25);
		outline: transparent;
		border: 0.1rem solid rgba(31, 32, 65, 0.25);
		box-sizing: border-box;
		border-radius: 0.4rem;
		align-items: center;
	}
	::placeholder {
		color: rgba(31, 32, 65, 0.25);
	}
	:hover,
	:focus,
	:focus-visible {
		border-color: rgba(31, 32, 65, 0.5);
		color: rgba(31, 32, 65, 0.75);
	}
}
