.switch__container_radio_white {
	width: auto; 
	.switch__label_radio_white {
		&::before {
			content: '';
			width: 0.75rem;
			height: 0.75rem;
			border-radius: 50%;
			border-color: white;
			margin-right: 0.4rem;
		}
	}
	.switch__input_radio_white:checked+.switch__label_radio_white {
		&::before {
			content: '';
			background-color: white;			
		}
	}
}