html { font-size: 62.5%; } 
body{
	margin: 0;
	padding: 0;
	background: #E5E5E5;
}

.cards__page-container {
	width: 144rem;
	height: 13.5;
	padding: 15rem 13.9rem;
}
.logo{
	width: 4.8rem;
	height: 4.8rem;
	position: absolute;
	top: 3rem;
	left: 3rem;
	background: center no-repeat url('@theme/assets/logo.svg');
}
.cards__container {
	display: flex;
	flex-direction: row;
}
.column1{
	display: flex;
	flex-direction: column;
	margin-right: 3.8rem;
	gap: 4rem;
}

.column2{
	display: flex;
	flex-direction: column;
	margin-right: 4rem;
	gap: 4.2rem;
}
.column3{
	.cards__datepicker{
		margin-bottom: 4rem;
	}
	.cards__room888{
		margin-bottom: 3.7rem;
	}
}
.cards__datepicker{
	width: 32rem;
}