extends ../../page-templates/page-template/page-template.pug
include ../../components/choose/choose.pug
include ../../components/registration/registration.pug
include ../../components/room-card/room-card.pug
include ../../components/login/login.pug
include ../../components/room-preview/room-preview.pug

block title 	
	title Cards 
block header 
block main
	body 
		.cards__page-container 
			.logo
			.cards__container 
				.column1
					+choose()
					+registration()
				.column2 
					+room-card()
					+login()
				.column3
					.cards__datepicker
					+room-preview()
					+room-preview()
block footer	