html { font-size: 62.5%; } 
body{
	margin: 0;
	padding: 0;
}

.cards__page-container {
	width: 144rem;
	height: 13.5;
	padding: 15rem 13.9rem;
}
.cards__container {
	display: flex;
	flex-direction: row;
}
.column1{
	display: flex;
	flex-direction: column;
	margin-right: 3.8rem;
}

.column2{
	display: flex;
	flex-direction: column;
	margin-right: 4rem;
}
// .column3{

// }