.header__container {
	width: (144-28) rem;
	height: 7rem;
	display: flex;
	justify-content: space-between;
	padding: 0rem 14rem;
	background: #ffffff;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

	.header__company {
		display: flex;
		align-items: center;
		.header__logo {
			width: 4.8rem;
			height: 4.8rem;
			background: left no-repeat url("../_theme/assets/logoColored.svg");
			margin-right: 0.4rem;
		}
		.header__name {
			width: 5.4rem;
			height: 1.3rem;
			background: center no-repeat url("../_theme/assets/TOXIN.svg");
		}
	}
	.header__navigation-block {
		display: flex;
		align-items: center;
		.header__navigation {
			display: flex;
			:first-child {
				font-family: "MontserratBold";
			}
			.header__navigation-item[position='2'],[position='5'] {
				display: flex;
				align-items: center;
				margin-right: 0.1rem;
				&::after {
					content: "expand_more";
					width: 2.4rem;
					font-family: "MaterialIcons";
					font-size: 2.4rem;
					color: rgba(31, 32, 65, 0.5);
					line-height: 2rem;
					text-align: center;
				}
			}
			
		}
	}
}
.header__separate-container {
	width: 2rem;
}
