mixin external-container_middle (options)
	.external-container__container.external-container__container_middle
		H3.external-container__title.external-container__title_middle= options.title 
		.external-container__description.external-container__description_middle= options.description