@import '@theme/colors.scss';

.button {
	&__container_white-text_custom-parametr{
		height: 3.4rem;
	}
  &__input_white-text {
    background: $primory_gradient;
    color: #ffffff;
    &:disabled,
    &:hover {
      opacity: 0.5;
    }
		&:active {
      opacity: 1;
    }
  }
}
