mixin button_toggle (title='toggle')
	.button.button_toggle 
		H3.button_title.button_toggle__title= title 
		.button_toggle__button
			.button_toggle__off.button_toggle__on 
				.button_toggle__switch
					
			.button_toggle__content= 'Получать спецпредложения'
		