

.button {
	min-width: 26rem;
	min-height: 5.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
}

.button_toggle__button {
	display: flex;
	flex-direction: row;
	justify-content: start;
}

.button_toggle__off {
	width: 4rem;
	height: 2rem;
	border-radius: 1rem;
	border: 1px solid;
	border-color: #BC9CFF;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	justify-content: end;
	align-items: center;
	margin-right: 1rem;
	
}
.button_toggle__switch {
	display: flex;
	flex-shrink: 0;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	margin: 0.4rem;
	background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);		
}

.button_toggle__on {
	display: flex;
	border-color: rgba(31, 32, 65, 0.25);
	justify-content: start;
	.button_toggle__switch{
		background: rgba(31, 32, 65, 0.5);
	}
	
}


