mixin button_toggle (label = 'Получать спецпредложения')
	.button__container.button__container_toggle
		label
			input.button__input.button__input_toggle(type="checkbox")
			.button__label.button__label_toggle=label