mixin slider(options)
	-const {title='', description=''} = options
	.slider__container
		.slider__info
			H3.slider__title= title
			.slider__data-range
		.slider__range-slider 
			.slider__handler
			.slider__progress-bar
		- if (description)
			.slider__description= description