include ../../components/input-field/input-field.pug
include ../../components/radio-block/radio-block.pug
include ../../components/title/title.pug
include ../../components/toggle/toggle.pug
include ../../components/button/button.pug

mixin registration()
		.registration__container 
			h1.registration__title= 'Регистрация аккаунта'
			+input-field({placeholder: 'Имя'})
			+input-field({placeholder: 'Фамилия'})
			+radio-block()
			.registration__separate-container1
			+title({title: 'дата рождения'})
				+input-field({placeholder: 'ДД.ММ.ГГГГ'})
			.registration__separate-container2
			+title({title: 'данные для входа в сервис'})
				+input-field({placeholder: 'Email'})
			+input-field({placeholder: 'Пароль'})
			+toggle({label: 'Получать спецпредложения'})
			.registration__separate-container1
			+button({type: BUTTON.PAY, label: 'Перейти к оплате'})
			.registration__footer-container
				p.registration__information= 'Уже есть аккаунт на Toxin'
				+button({type: BUTTON.PURPLE_TEXT, label: 'войти'})


