//- include ../input-field.pug
//- mixin input-field_subscription(placeholder= 'type something here')
//- 	.input-field__container.input-field_subscription__container
//- 		input.input-field__input-text(type='text', placeholder = placeholder)
//- 		.input-field_subscription__subscibed-button
mixin input-field_subscription
	+input-tamplate({ inputType:'Email', placeholder:'Email', blockName :'input-field', modificatorName: 'subscription', customElementName: 'subscribed-arrow', checked: true, dataChecked: 'checked'})